body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.right-section nav ul li {
    margin-left: 30px;
    font-size: 18px;
}

.right-section nav ul li:first-child {
    margin-left: 0;
}

.right-section nav ul li a {
    color: #fff;
    text-decoration: none;
}

.right-section nav ul li a img {
    height: 50px;
    width: auto;
}

.right-section nav ul li.jogar,
.right-section nav ul li.support,
.right-section nav ul li.about {
    margin-top: 15px;
}

.logo img {
    height: 70px;
    margin-right: 5px;
}

.brand-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

h1 {
    position: relative;
    text-align: left;
    font-size: 50px;
    margin-top: 100px;
    font-family: "Inria Sans", sans-serif;
}

h1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 1.5px;
    height: 100%;
    background-color: white;
}

.bloco h3 {
    text-align: left;
    font-size: 20px;
    font-family: "Inria Sans", sans-serif;
}

.bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
}

.paragrafo {
    flex-basis: calc(50% - 25px);
    margin-bottom: 20px;
}

.parg {
    margin: 0;
    text-align: left;
}

.bloco h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

.nosso-time {
    font-family: "Inria Sans", sans-serif;
    margin-left: 350px;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

.nosso-time::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 200px;
    width: 60px;
    height: 1.5px;
    background-color: #8A2BE2;
}


.conecte {
    font-family: "Inria Sans", sans-serif;
    text-align: right;
    margin-right: 350px;
    margin-top: 100px;
    font-size: 35px;
    position: relative;
}

.conecte::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 755px;
    width: 60px;
    height: 1.5px;
    background-color: #8A2BE2;
}

.paragrafos {
    display: flex;
    justify-content: space-between;
}

.paragrafo {
    width: 48%;
    margin: 0;
}

.equipe {
    display: flex;
    justify-content: center;
    margin-left: 0;
}

.membro-da-equipe {
    align-items: center;
    text-align: center;
    margin: 0 20px;
}

.membro-da-equipe img {
    max-width: 200px;
    border-radius: 5px;
}

.conectar {
    text-align: center;
}

.links-sociais a {
    display: inline-block;
    margin: 0 10px;
}

.links-sociais a img {
    width: 40px;
    height: auto;
    align-items: left;
    padding: 0;
}

.links-sociais a.instagram img {
    margin-left: 710px;
}





